body {
    overflow-x: hidden;
  }

.display-picture{
    width: 10%;
    height: auto;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
}

.custom-margin{
    margin-top: 100px;
}

.custom-font-size{
    font-size: 50%;
}

.custom-header-size{
    font-size: 5vw;
}

.screen-size{
    width: 100vw;
}

.article-size{
    width: 40%;
}

.paragraph-font-size{
    font-size: 2vw;
}

.article-header-font-size{
    font-size: 4vw;
}

.article-card-img{
    width: 100%;
    height: auto;
}

.comment-author-font{
    font-size: 3vw;
}

.custom-show-hide-button{
  
    font-size: 3vw;
}

.comment-bg-color{
    background-color: rgb(241, 251, 255);
    border: 3px solid rgb(197, 197, 197);
    
}