body {
    overflow-x: hidden;
  }

.display-picture{
    width: 15%;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
}

.custom-margin{
    margin-top: 100px;
}

.custom-font-size{
    font-size: 50%;
}

.custom-header-size{
    font-size: 100%;
}

.screen-size{
    width: 100vw;
}

.article-size{
    width: 40%;
}