body {
    overflow-x: hidden;
}
.display-picture {
    width: 6rem;
    height: 6rem;
    
    object-fit: cover;

  }
  
  @media (max-width: 768px) {
    .display-picture {
      width: 3rem; 
      height: 3rem;
      max-width: 60px;
    }
  }


.custom-margin {
    margin-top: 5%; 
}

.custom-font-size {
    font-size: 1.5vw; 
}

.custom-header-size {
    font-size: 5vw;
}

.screen-size {
    width: 100%;
}

.article-size {
    width: 80%; 
    max-width: 800px; 
    margin: 0 auto; 
}

.paragraph-font-size {
    font-size: 1.2vw;
}

.custom-input{
    width: 100%;
    height: 50px
}

.custom-button{
    left: 50px
}


.profile-card {
    position: relative;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
  .profile-card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); 
  }

  .bg-light-orange {
    background-color: #fff1e3;
  }
  